body{
    font-family: "Aldrich";
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
    width: 100%;
}

.header{
    color: white;
    padding: 0em;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0px;
    right: 0;
    height: 10vw;
}

.header a{
    text-decoration: none;
}

.logo-nav-container{
    position: absolute;
    text-align: center;
    margin: 0px;
    padding: 0px;
    z-index: 2;
    top: 48%;
    height: 55.72px;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0px;
}

.mainlogo{
    position: absolute;
    z-index: 3;
    height: 15vw;
    margin: 0px;
    padding: 0px;
    left: 1vw;
    top: 0px;
    cursor: pointer;
}

.bannersup{
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0px;
}

.navigation {
    width: 100%;
    top: 0px;
    height: 66.75px;
}

.navigation ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navigation ul li {
    display: inline-block;
    padding: 0em 3vw 0em 0em;
}

.navigation ul li a {
    display: block;
    transition: all 0.4s linear;
    background-image: url(/Assets/WoodSign.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1vw;
    font-family: "aldrich";
    font-size: 1.6vw;
    color: yellow;
    -webkit-text-stroke: black 1px;
    transition-duration: 0s;
}

.navigation ul li a:hover{
    background-image: url(/Assets/WoodSignBusted.png);
    

}

h1{
    font-size: 2.5vw;
    line-height: 1.3em;
}

h2{
    font-size: 2.0vw;
    line-height: 1.3em;
}

h3{
    font-size: 1.5vw;
    line-height: 1.3em;
}

p{
    font-size: 1.2vw;
    text-align: justify;
}

.menu-icon{
    display: none;
}

.containertitulos {
    text-align: justify;
    max-width: 100%;
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 17%;
}

.tablaservicios {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

table{
    border: none;
    border-collapse: separate;
    border-spacing: 0 30px;
}

td{
    text-align: justify;
    margin: 0px;
    padding: 0;
    vertical-align: top;
    
}

.TituloTabla{
    font-size: 3vw;
    padding: 10px;
    margin: 0px;
    color: white;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.TituloTabla2{
    font-size: 40px;
    padding: 10px;
    margin: 0px;
    color: black;
    text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.ParrafoTabla{
    font-size: 1.4vw;
    color: white;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    vertical-align: top;
    padding: 15px;
    margin: 0px;
}

.ParrafoTabla2{
    color: black;
    font-size: 24px;
    max-width: 750px;
    vertical-align: top;
    text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px;
    padding: 4px 8px;
    margin: 0px;
}

.fototabla{
    width: 100%;
    padding: 0px 0px;
    margin: 0px;
}

.fila1{
    background-image: url(/Assets/Config\ Tecnica2.jpg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.fila2{
    background-image: url(/Assets/Coaching2.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.fila3{
    background-image: url(/Assets/Comm\ Managment2.jpg);
    background-size: contain;
    background-size: 50%;
}

.fila4{
    background-image: url(/Assets/Comp\ Psico2.jpg);
    background-size: contain;
    background-size: 50%;
}

.fila5{
    background-image: url(/Assets/Taylor2.jpg);
    background-size: contain;
    background-size: 50%;
}

.footer{
    position: absolute;
    width: 100%;
    height: fit-content;
    padding: 0px;
    margin: 0px;
}

.footertexto{
    font-size: 15px;
    margin: 0;
    padding: 0%;
    text-align: center;
    background-color: #918f89;
}

@media only screen and (max-width: 1216px){

    .bannersup{
    position: fixed;
    width: 1400px;
    z-index: 0;
}
    
    .navigation{
        position: absolute;
        background-size: 100% 100%;
        right: 0px;
        top: 29px;
    }

    .containercontenido {
        width: 85%;
        max-width: 950px;
        margin: 0 9%;
        }
    
    .navigation ul li {
        display: block;
        height: 19px;
        right: 0px;
    }
    
    .navigation ul li a {
        right: 0px;
        padding: 0.5rem 0.5rem;
        text-align: center;
        background-size: 100% 100%;
    }
    
    .navigation ul li a:hover{
        background-image: url(/Assets/WoodSignBusted.png);
    
    }

    .menu-icon{
        display: inline-block;
        position: absolute;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.4s linear;
        background-image: url(/Assets/WoodSign.png);
        background-size: 100% 100%;
        font-family: "aldrich";
        font-size: 30px;
        color: yellow;
        -webkit-text-stroke: black 1px;
        transition-duration: 0s;
        right: 0px;  
    }

    .navigation ul{
        right: 0px;
        display: none;
    }

    .navigation ul.show{
        right: 0px;
        display: block;
    }

    .mainlogo{
        display: block;
        left: 0px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 150px;
    }

    .main{
        padding-top: 7.5rem;
        background-position: 0px 150px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        bottom: 0px;
    }

    .atajohome{
        position: absolute;
        left: 11px;
        top: -76px;
        width: 124px;
        height: 122px;
        text-align: center;
    }

    .tablaservicios {
        width: 100%;
    }
    
    td{
        text-align: justify;
        width: 50%;
        margin: 0px;
        padding: 0px;
        vertical-align: top;
    }
    
    .TituloTabla{
        padding: 0px;
        margin: 0px;
    }
    
    .ParrafoTabla{
        vertical-align: top;
        padding: 0px;
        margin: 0px;
        max-height: 400px;
    }
    
    .fototabla{
        width: 100%;
    }

}